@model WebApplication3.Models.PhysicianViewModel

@{
    ViewBag.Title = "PhysicianForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Physician", "GetInvolved", FormMethod.Post))
{
<br />
<h2 style="color:crimson;padding-left:5vw; padding-right:5vw">Physician Volunteer Form</h2>

<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
<!-- Main form -->
<br />
<div link rel="stylesheet" type="text/css" href="~/Custom_CSS_Styles/inputboxes.css" style="padding-left:5vw; padding-right:5vw">
    <label>First Name</label>
    <div>
        @Html.TextBoxFor(Model => Model.FirstName)
    </div>

    <div id="right" style="float:right; width:50%; position:fixed; top:10vw; right:5vw; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding:1vw">
        Surgery on Sunday Louisville independently credentials each of its physician volunteers following the method developed by The Joint Commission. That process requires us to query physician information through the National Practitioner Database, a service provided by the United States Department of Health and Human Services. Completion of this form serves as the agreement of the volunteer to allow Surgery on Sunday Louisville to perform such query. Questions about this process can be directed to <a href="mailto:info@soslouisville.org">info@soslouisville.org.</a>
    </div>

    <label>Last Name</label>
    <div>
        @Html.TextBoxFor(Model => Model.LastName)
    </div>


    <label>Address</label>
    <div>
        @Html.TextBoxFor(Model => Model.Address)
    </div>

    <label>City</label>
    <div>
        @Html.TextBoxFor(Model => Model.City)
    </div>

    <label>State</label>
    <div>
        @Html.TextBoxFor(Model => Model.State)
    </div>

    <label>Postal Code</label>
    <div>
        @Html.TextBoxFor(Model => Model.ZipCode)
    </div>

    <label>Primary Phone</label>
    <div>
        @Html.TextBoxFor(Model => Model.PrimaryPhone)
    </div>

    <label>Email</label>
    <div>
        @Html.TextBoxFor(Model => Model.Email)
    </div>

    <label>Birthday</label>
    <div>
        @Html.TextBoxFor(Model => Model.DateOfBirth)
    </div>

    <label>Medical Specialty</label>
    <div>
        @Html.TextBoxFor(Model => Model.MedicalSpecialty)
    </div>

    <div>
        <label> What/which state(s) are you licensed to practice in? </label>
        <br />

    </div>
    <div>
        @Html.DropDownListFor(model => Model.StateChoice, new SelectList(
 new List<Object>{
                                                      new { value = 0, text = "AL"  },
                                                      new { value = 1 , text = "AK" },
                                                      new { value = 2 , text = "AZ"},
                                                      new { value = 3, text = "AR"},
                                                      new { value = 4, text = "CA"},
                                                      new { value = 5, text = "CO"  },
                                                      new { value = 6, text = "CT" },
                                                      new { value = 7 , text = "DE"},
                                                      new { value = 8, text = "DC"},
                                                      new { value = 9, text = "FL"},
                                                      new { value = 10, text = "GA"  },
                                                      new { value = 11 , text = "HI" },
                                                      new { value = 12 , text = "ID"},
                                                      new { value = 13, text = "IL"},
                                                      new { value = 14, text = "IN"},
                                                      new { value = 15, text = "IA"  },
                                                      new { value = 16, text = "KS" },
                                                      new { value = 17 , text = "KY"},
                                                      new { value = 18, text = "LA"},
                                                      new { value = 19, text = "ME"},
                                                      new { value = 20, text = "MD"  },
                                                      new { value = 21, text = "MA" },
                                                      new { value = 22 , text = "MI"},
                                                      new { value = 23, text = "MN"},
                                                      new { value = 24, text = "MS"},
                                                      new { value = 25, text = "MO"  },
                                                      new { value = 26, text = "MT" },
                                                      new { value = 27, text = "NE"},
                                                      new { value = 28, text = "NV"},
                                                      new { value = 29, text = "NH"},
                                                      new { value = 30, text = "NJ"  },
                                                      new { value = 31, text = "NM" },
                                                      new { value = 32, text = "NY"},
                                                      new { value = 33, text = "NC"},
                                                      new { value = 34, text = "ND"},
                                                      new { value = 35, text = "OH"  },
                                                      new { value = 36, text = "OK" },
                                                      new { value = 37, text = "OR"},
                                                      new { value = 38, text = "PA"},
                                                      new { value = 39, text = "RI"},
                                                      new { value = 40, text = "SC"  },
                                                      new { value = 41, text = "SD" },
                                                      new { value = 42 , text = "TN"},
                                                      new { value = 43, text = "TX"},
                                                      new { value = 44, text = "UT"},
                                                      new { value = 45, text = "VT"  },
                                                      new { value = 46, text = "VA" },
                                                      new { value = 47, text = "WA"},
                                                      new { value = 48, text = "WV"},
                                                      new { value = 49, text = "WI"},
                                                      new { value = 50, text = "WY"}
 },
 "value",
 "text",
 0))
    </div>



    <label>Professional License Number</label>
    <div>
        @Html.TextBoxFor(Model => Model.ProfessionalLicenseNumber)
    </div>

    <label>Professional Alma Mater</label>
    <div>
        @Html.TextBoxFor(Model => Model.ProfessionalAlmaMater)
    </div>

    <label>Graduation Year</label>
    <div>
        @Html.TextBoxFor(Model => Model.GraduationYear)
    </div>

    <br />
    <p>Please upload an up-to-date CV. We need this for our malpractice insurance. </p>
</div>
  



<div style="padding-left:5vw; padding-right:5vw" class="control-group file optional registration_person_person_document_file"><label class="file optional control-label required btn file-btn" for="registration_person_attributes_person_documents_attributes_0_file">Document</label><div class="controls"><input accept="application/pdf,.pdf,.doc,.docx" class="file optional required btn file-btn" id="registration_person_attributes_person_documents_attributes_0_file" name="registration[person_attributes][person_documents_attributes][0][file]" type="file" /></div></div>
<input id="registration_person_attributes_person_documents_attributes_0_label" name="registration[person_attributes][person_documents_attributes][0][label]" value="Document" type="hidden" />

<br />
<div style="padding-left:5vw; padding-right:5vw"><input type="submit" name="commit" value="Submit" class="btn btn btn-dark btn-lg" data-disable-with="Saving..." /></div>


}

