@using WebApplication3.Models;
@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<h1>Events</h1>
<table class="table">
    <thead>
        <tr>
            <td><b>Surgery</b></td>
            <td><b>Location</b></td>
            <td><b>Date</b></td>


        </tr>



    </thead>
    <tbody>

        @foreach (var item in (ICollection<EventModel>)ViewBag.EventModels)
        {
            <tr>
                <td>@item.EventSurgery</td>
                <td>@item.EventLocation</td>
                <td>@item.EventDate</td>




            </tr>
        }
    </tbody>
</table>




<h1>Non-Clinical Volunteers</h1>
<table class="table">
    <thead>
        <tr>
            <td><b>First Name</b></td>
            <td><b>Last Name</b></td>
            <td><b>City</b></td>
            <td><b>State</b></td>
            <td><b>Address</b></td>
            <td><b>Postal Code</b></td>
            <td><b>Mobile Phone</b></td>
            <td><b>Email</b></td>
            <td><b>Birthday</b></td>
            <td><b>Preferred Name</b></td>
            <td><b>Which Best Describes You?</b></td>
            <td><b>Registration</b></td>
            <td><b>Cleaning</b></td>
            <td><b>Shadowing</b></td>
            <td><b>Fundraising</b></td>
            <td><b>Cleaning</b></td>
            <td><b>What is your T-Shirt Size?</b></td>



        </tr>



    </thead>
    <tbody>

        @foreach (var item in (ICollection<NonClinicalModel>)ViewBag.NonClinicals)
        {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.City</td>
            <td>@item.State</td>
            <td>@item.Address</td>
            <td>@item.PostalCode</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Email</td>
            <td>@item.Birthday</td>
            <td>@item.PreferredName</td>
            <td>@item.BestDescription</td>
            <td>@item.Registration</td>
            <td>@item.Cleaning</td>
            <td>@item.ClinicalShadowing</td>
            <td>@item.Fundraising </td>
            <td>@item.WhyInterested </td>
            <td>@item.TShirtSize </td>




        </tr>
        }
    </tbody>
</table>
