<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=100%, initial-scale=1.0">
    <title>@ViewBag.Title - SOS Louisville</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Custom_CSS_Styles/Footer.css" />

</head>
<body>
    <link rel="stylesheet" href="~/Content/bootstrapNEW.Min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger" style="font-size:20px">
        <img class="navbar-brand" src="~/Pictures/SOS_white_logo.png" width="170" height="80" onclick="window.location.href='/Home'" style="cursor:pointer" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">

                <li class="dropdown">
                    <a class="nav-link dropdown-item" href="~/Home/About"> <span style="color:white">About</span> <span class="sr-only">(current)</span></a>
                    <div class="dropdown-content">
                        <a href="~/Home/Staff">Staff</a>
                        <a href="~/Home/BoardOfDirectors">Board of Directors</a>
                        <a href="~/Home/PatientTestimonial">Patient Testimonials</a>
                    </div>
                </li>

                <li class="dropdown">
                    <a class="nav-link dropdown-item" href="~/GetInvolved/GetInvolved"><span style="color:white">Get Involved</span></a>
                    <div class="dropdown-content">
                        <a href="~/GetInvolved/NonPhysicianClinicalForm">Non-Physician Clinical Volunteer</a>
                        <a href="~/GetInvolved/PhysicianForm">Physician Volunteer</a>
                        <a href="~/GetInvolved/GeneralForm">Non-Clinical General (and Student) Volunteer</a>
                        <a href="~/GetInvolved/InterpreterForm">Medical Interpreter Volunteer</a>
                        @*</div>*@
                </li>
                <li class="nav-item active">
                    <a class="nav-link dropdown-item" href="~/GetHelp/GetHelp">Get Help</a>
                <li class="nav-item active">
                    <a class="nav-link dropdown-item" href="~/Donate/Donate">Donate</a>
                <li class="dropdown">
                    <a class="nav-link dropdown-item" style="color:white" href="~/PatientReferral/PatientReferral">Refer a Patient</a>
                <li class="nav-item active">
                    <a class="nav-link  dropdown-item" href="~/ContactUs/ContactUs">Contact Us</a>
                <li class="nav-item active">
                    <a class="nav-link dropdown-item" href="~/Calendar/Calendar">Event Calendar</a>
                <li class="nav-item active">
                    <a class="nav-link dropdown-item" href="~/Account/Login">Login</a>
            </ul>
            <img src="~/Pictures/TwitterJustBird.png" width="35" height="25" onclick="window.open('https://twitter.com/soslouisville?lang=en')" style="cursor:pointer;padding-left:4px" /><img />
            <img src="~/Pictures/FacebookWhite.png" width="30" height="28" onclick="window.open('https://www.facebook.com/SurgeryonSundayLouisville/')" style="cursor:pointer; padding-left:4px" /><img />
            <img src="~/Pictures/igWhiteUse.png" width="32" height="33" onclick="window.open('https://www.facebook.com/SurgeryonSundayLouisville/')" style="cursor:pointer;padding-left:4px;padding-bottom:1px" /><img />
            <div id="google_translate_element"></div>
        </div>
    </nav>
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>

    <!--Footer Contents-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            <div class="card-group" id="site-footer">

                <!--SOSL Custom Logo-->
                <div class="footer-card card" id="footer-logo">
                    <img class="card-img" src="~/Pictures/Collage.png" alt="Surgery on Sunday Louisville Simplified Logo">
                    <div class="card-block">
                    </div>
                </div>

                <!--Contact Information Card-->
                <div class="footer-card card">
                    <div class="card-block">
                        <h4 class="card-title">Contact Information</h4>
                        <ul class="footer-ul">
                            <li id="contact-address-li">PO Box 4757 <br />Louisville, KY 40204</li>
                            <li id="contact-number-li"><p>502-242-2089</p></li>
                            <li id="contact-email-li"><p><a href="mailto:info@soslouisville.org">info@soslouisville.org</a></p></li>
                            <li id="contact-times-li"><p>Monday-Friday, 8AM-5PM</p></li>
                        </ul>
                    </div>
                </div>

                <!--Social Media Icons-->
                <div class="footer-card card">
                    <div class="card-block">
                        <h4 class="card-title">Follow Us!</h4>
                        <ul class="footer-ul" id="social-media-footer">
                            <li>
                                <a href="https://www.facebook.com/SurgeryonSundayLouisville" target="_blank">
                                    <img src="~/Pictures/facebook-icon.png" alt="Facebook icon." />
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/soslouisville" target="_blank">
                                    <img src="~/Pictures/twitter-icon.png" alt="Twitter icon." />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/SOSLouisville/" target="_blank">
                                    <img src="~/Pictures/instagram-icon.png" alt="Instagram icon." />
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCi8B7g8j_fs-4UFcSPf2xXg//" target="_blank">
                                    <img src="~/Pictures/youtube-icon.png" alt="Youtube icon." />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--Site Map-->
                <div class="footer-card card">
                    <div class="card-block">
                        <h4 class="card-title">Site Map</h4>
                        <p class="card-text"><a href="~/Home">Home</a></p>
                        <p class="card-text"><a href="~/Home/About">About Us</a></p>
                        <p class="card-text"><a href="~/GetHelp/GetHelp">Get Help</a></p>
                        <p class="card-text"><a href="~/GetInvolved/GetInvolved">Get Involved</a></p>
                        <p class="card-text"><a href="~/PatientReferral/PatientReferral">Patient Referral</a></p>
                        <p class="card-text"><a href="">Events</a></p>
                        <p class="card-text"><a href="~/Donate/Donate">Donate</a></p>
                        <p class="card-text"><a href="~/ContactUs/ContactUs">Contact Us</a></p>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!--End of Footer Contents-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
